<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
</head>
<body>
    <h1>Welcome</h1>
    <h2><%= songs[0] %></h2>
    <audio controls>
        <source src="/audio/<%= songs[0]%>" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>

    <script>
        const customHeaders = {'Content-Type': "application/json"}
         fetch('http://localhost:3000/music', {
            method: 'GET',
            contentType: 'application/json',
            headers: customHeaders,
        }).then((response) => response.json())
        .then((json) => {
            console.log(json)
        }).catch((err)=>{
            console.log(err)
        })
    </script>
</body>
</html>